# Workspace that is used for this operation. Most of time, this is done on local.
workspace: light-chain_2_0_x
# new upgraded version. This needs to be changed for every release.
version: 2.0.17
# github organization as the token is bound to the org in changelog generator. This
# means that you can only release multiple repositories within the same org each time.
organization: networknt
# previous tag used to calculate how many commits in between in the git log
prev_tag: 2.0.16
# last number of pull requests retrieved from the GitHub. 100 minimum.
last: 100
# skip checkout if you know all latest code has been checkout in the previous build
skip_checkout: false
# skip maven build if you know the build has been done already
skip_maven: false
# skip gradle build if you know the build has been done already
skip_gradle: false
# skip generate change log
skip_change_log: true
# skip check in the generated changelog
skip_checkin: true
# skip upload release_note if it is already done.
skip_release_note: true
# skip docker publish if it is done already.
skip_docker: false
# clone and switch to develop branch / checkout and pull from develop branch
checkout:
  # here we checkout master branch to publish the images. 
  - branch: master
    repository:
    - git@github.com:networknt/taiji-blockchain.git
    - git@198.55.49.186:steve/genesis-block.git
    - git@198.55.49.186:steve/kafka-chain.git
    - git@198.55.49.186:light-chain/chain-writer.git
    - git@198.55.49.186:light-chain/chain-reader.git
    - git@198.55.49.186:light-chain/token-reader.git
    - git@198.55.49.186:light-chain/kyc-reader.git
    - git@github.com:taiji-chain/taiji-faucet.git
    - git@github.com:taiji-chain/web-client.git
# maven build
maven:
  - web-client/currency
  - web-client/kyc
  - web-client/token
  - web-client/wallet
  # - chain-reader
  # - light-router
  # - taiji-blockchain
  # - light-codegen
# gradle build
gradle:
  # - light-proxy
  # - light-router
  - taiji-blockchain
  - genesis-block
  - kafka-chain
  # - light-codegen

# update changelog in master, merge it to develop and publish to github.com
release:
  # - light-proxy
  # - light-router
  # - light-oauth2
  # - light-codegen

# build docker image and push to docker hub
docker:
  - chain-writer
  - chain-reader
  - token-reader
  - kyc-reader
  - web-client/server

