version: '2'

services:

  light-router:
    image:  networknt/light-router:latest
    network_mode: host
    ports:
    - 8443:8443
    volumes:
    - ./config:/config
    - ./faucet/build:/faucet/build
    - ./webclient/build:/webclient/build
    - ./lightapi/build:/lightapi/build
    - ./taiji/build:/taiji/build
    - ./signin/build:/signin/build
    - ./networknt/build:/networknt/build

