version: '2'

services:

  light-router:
    image:  networknt/light-router:latest
    # networks:
    # - localnet
    ports:
    - 8443:8443
    volumes:
    - ./config:/config
    - ./obsignin/build:/obsignin/build
    - ./ob/build:/ob/build
    network_mode: host

