# Workspace that is used for this operation. Most of time, this is done on local.
workspace: releasesnapshot_2_0_x
# release version that is used to generate changelog. This need to be changed every time
version: 2.3.3-SNAPSHOT
# github organization as the token is bound to the org in changelog generator. This
# means that you can only release multiple repositories within the same org each time.
organization: networknt
# previous tag used to calculate how many commits in between in the git log
prev_tag: 2.3.2
# last number of pull requests retrieved from the GitHub. 100 minimum.
last: 100
# You can skip checkout if you are sure that the code in workspace are the latest and
# you just want to repeat the release process due to some environmental issue before.
skip_checkout: false
# skip change log generation
skip_change_log: true
# skip check in the generated changelog
skip_checkin: true
# You can skip the last release step so that you can double check the merged result.
skip_release: false
# skip upload release note to the github
skip_release_note: true
# skip deploy after the release
skip_deploy: true
# skip upload release assets
skip_upload: true
# clone and switch to develop branch / checkout and pull from develop branch
checkout:
  - branch: master
    repository:
      - git@github.com:networknt/light-4j.git
      - git@github.com:networknt/json-overlay.git
      - git@github.com:networknt/openapi-parser.git
      - git@github.com:networknt/light-rest-4j.git
      - git@github.com:networknt/light-graphql-4j.git
      - git@github.com:networknt/light-hybrid-4j.git
      - git@github.com:networknt/light-codegen.git
      - git@github.com:networknt/light-session-4j.git
      - git@github.com:networknt/light-kafka.git
      - git@github.com:networknt/light-spa-4j.git
      - git@github.com:networknt/light-chaos-monkey.git
      - git@github.com:networknt/light-gateway.git
      - git@github.com:networknt/http-sidecar.git
      - git@github.com:lightapi/oauth-kafka.git
      - git@github.com:networknt/light-tokenization.git
      # - git@github.com:lightapi/light-config-server.git
      - git@github.com:networknt/light-spring-boot.git
      - git@github.com:networknt/light-aws-lambda.git
      - git@github.com:networknt/light-lambda-native.git
      - git@github.com:lightapi/light-portal.git
      - git@github.com:lightapi/light-scheduler.git
      - git@github.com:lightapi/light-controller.git
      - git@github.com:lightapi/hybrid-query.git
      - git@github.com:lightapi/hybrid-command.git
      - git@github.com:lightapi/user-query.git
      - git@github.com:lightapi/user-command.git
      - git@github.com:lightapi/oauth-query.git
      - git@github.com:lightapi/oauth-command.git
      - git@github.com:lightapi/rule-query.git
      - git@github.com:lightapi/rule-command.git
      - git@github.com:lightapi/role-query.git
      - git@github.com:lightapi/role-command.git
      - git@github.com:lightapi/group-query.git
      - git@github.com:lightapi/group-command.git
      - git@github.com:lightapi/position-query.git
      - git@github.com:lightapi/position-command.git
      - git@github.com:lightapi/attribute-query.git
      - git@github.com:lightapi/attribute-command.git
      - git@github.com:lightapi/client-query.git
      - git@github.com:lightapi/client-command.git
      - git@github.com:lightapi/service-query.git
      - git@github.com:lightapi/service-command.git
      - git@github.com:lightapi/host-query.git
      - git@github.com:lightapi/host-command.git
      - git@github.com:lightapi/product-query.git
      - git@github.com:lightapi/product-command.git
      - git@github.com:lightapi/deployment-query.git
      - git@github.com:lightapi/deployment-command.git
      - git@github.com:lightapi/instance-query.git
      - git@github.com:lightapi/instance-command.git
      - git@github.com:lightapi/config-query.git
      - git@github.com:lightapi/config-command.git
      - git@github.com:lightapi/ref-query.git
      - git@github.com:lightapi/ref-command.git
      - git@github.com:lightapi/tag-query.git
      - git@github.com:lightapi/tag-command.git
      - git@github.com:lightapi/category-query.git
      - git@github.com:lightapi/category-command.git
      - git@github.com:lightapi/schema-query.git
      - git@github.com:lightapi/schema-command.git
      - git@github.com:lightapi/schedule-query.git
      - git@github.com:lightapi/schedule-command.git
      - git@github.com:lightapi/event-exporter.git
      - git@github.com:lightapi/event-importer.git
      - git@github.com:lightapi/maproot-command.git
      - git@github.com:lightapi/maproot-query.git
      - git@github.com:networknt/kafka-sidecar.git
      - git@github.com:networknt/openapi-petstore.git
      - git@github.com:networknt/openapi-market.git
      - git@github.com:networknt/graphql-petstore.git
      - git@github.com:networknt/light-reference.git
      - git@github.com:networknt/light-websocket-4j.git
      - git@github.com:networknt/light-genai-4j.git

# generate changelog.md from github issues and check in
# release to maven central
# merge the changelog.md to develop branch
# publish the release to github repository
release:
  - networknt/light-4j
  - networknt/json-overlay
  - networknt/openapi-parser
  - networknt/light-rest-4j
  - networknt/light-graphql-4j
  - networknt/light-hybrid-4j
  - networknt/light-codegen
  - networknt/light-session-4j
  - networknt/light-kafka
  - networknt/light-spa-4j
  - networknt/light-aws-lambda
  - networknt/light-lambda-native
  - networknt/light-chaos-monkey
  - networknt/light-websocket-4j
  - networknt/light-genai-4j
  - networknt/light-gateway
  - networknt/http-sidecar
  - networknt/light-spring-boot
  - lightapi/light-portal
  - networknt/light-scheduler
  - lightapi/light-controller
  - lightapi/hybrid-command
  - lightapi/hybrid-query
  - lightapi/user-command
  - lightapi/user-query
  - lightapi/oauth-command
  - lightapi/oauth-query
  - lightapi/rule-command
  - lightapi/rule-query
  - lightapi/role-query
  - lightapi/role-command
  - lightapi/group-query
  - lightapi/group-command
  - lightapi/position-query
  - lightapi/position-command
  - lightapi/attribute-query
  - lightapi/attribute-command
  - lightapi/client-query
  - lightapi/client-command
  - lightapi/service-query
  - lightapi/service-command
  - lightapi/host-query
  - lightapi/host-command
  - lightapi/product-query
  - lightapi/product-command
  - lightapi/deployment-query
  - lightapi/deployment-command
  - lightapi/instance-query
  - lightapi/instance-command
  - lightapi/config-query
  - lightapi/config-command
  - lightapi/ref-query
  - lightapi/ref-command
  - lightapi/tag-query
  - lightapi/tag-command
  - lightapi/category-query
  - lightapi/category-command
  - lightapi/schema-command
  - lightapi/schema-query
  - lightapi/schedule-command
  - lightapi/schedule-query
  - lightapi/event-exporter
  - lightapi/event-importer
  - lightapi/maproot-command
  - lightapi/maproot-query
  - networknt/oauth-kafka
  - networknt/openapi-petstore
  - networknt/openapi-market
  - networknt/kafka-sidecar
  - networknt/graphql-petstore
  - networknt/light-reference
